body {
    font-family: sans-serif ;
    background-color: rgb(220, 220, 220);
  }

@media (max-width:760px) {
    .hero--screen {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        text-align: center;
    }
    .hero--screen img {
        width: 400px;
        margin-bottom: 30px;
    }
}